
/*
  Overwrite
---------------------------------*/
// colors
$accentColor =#bb5535
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

//home
.home .feature{
  flex-basis: 45%;
  max-width: 45%;

@media(max-width: 719px){
  max-width: 100%;
  }
}

//nav
.dropdown-wrapper .dropdown-title{
  outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/*
  Add
---------------------------------*/
//postlist
.c-postListTitle {
  padding: 0 0.7rem 1rem;
  margin-bottom: 1rem;
  border: 1.3px solid #dcd6d2;
  border-radius: 3px;
}
